/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*RESET - Inicio*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #f5f5f5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
/*RESET - Fim*/
.div-container {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#logo.img-fluid {
	max-width: 100%;
	height: auto;
}

.navbar-brand {
	padding-left: 0.5rem;
}

.navbar-collapse {
	margin-left: 0.5rem;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled),
	button:not(:disabled) {
	margin-right: 0.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 500;
	line-height: 1.2
}

.h2-index {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji", sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: center;
	border: 1px solid #9F9F9F;
	padding: 8px;
}

td {
	border: 1px solid #9F9F9F;
	text-align: left;
	padding: 4px;
	/*padding: 8px;*/
}

.text-align-center {
	text-align: center;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.button-margin-top {
	margin-top: 2rem;
}

.button-card-home {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.button-add-list-prod {
	margin-top: 1.5rem;
}

.cards-home {
	margin-bottom: 1rem;
	text-align: center;
}

.dropdown-menu-nav {
	line-height: 2rem;
}

.footer-text {
	color: #ffffff;
}

.footer-text-link {
	text-decoration: none;
	color: #ffffff;
}

.footer-text-link:hover {
	text-decoration: none;
	color: #ff3600;
}